.btn
    margin-right: 15rem
    &__rectangle-1
        // width: 0.4rem
        // height: 2.2rem
    &__main-rectangle
        width: 18.2rem
        height: 4.3rem
        clip-path: polygon(0 12%, 0 0, 100% 0, 100% 12%, 90% 14%, 84% 83%, 100% 83%, 100% 100%, 0 100%, 0 82%, 14% 82%, 14% 12%)
        background: white
