.grid-container
    display: grid
    grid-template-rows: min-content, repeat(9, auto)
    grid-template-areas: "header" "main-section" "wallets" "icons-works" "collection" "trending" "auction" "influencers" "form" "footer"
    &__header
        grid-area: "header"