.grid
    display: grid
    grid-template-rows: repeat(8, 10rem)
    grid-template-areas: "main" "wallets" "icons-work" "collection" "trend-nft" "auction-nft" "influencers" "form"
    &__main-section
        display: grid
        grid-template-rows: repeat(4, 10rem)
        