@use 'variables.sass'
@use 'mixins.sass'
.logo-btn
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 14rem
    &__box-btn-user
        @include mixins.flex-center
    &__user
        width: 4rem
        height: 4rem
.title
    font: 600 6.4rem variables.$font-family
    text-transform: capitalize
    color: variables.$white
    margin: 0
    margin-bottom: 4rem
    &__text
        font: 300 2.5rem variables.$second-family
        text-transform: capitalize
        color: variables.$white
        